# minimal changes to boot Ubuntu Touch
CONFIG_SYSVIPC=y
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_DEVTMPFS=y
CONFIG_VT=y
# apparmor
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
# bluebinder
CONFIG_BT=y
CONFIG_BT_RFCOMM=y
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=y
CONFIG_BT_HCIVHCI=y
CONFIG_RFKILL=y
# waydroid
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_VETH=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder,anbox-binder,anbox-hwbinder,anbox-vndbinder"
# usb serial devices
CONFIG_USB_ACM=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
# wireguard vpn
CONFIG_WIREGUARD=y
# Pocket VMs
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
